In [68]:
import sqlite3

## Creating the database
* We can create the database at harddisk 'name.db'    
* And we can create the database in memory also ':memory:'     
* sqlite3.PARSE_DECLTYPES will automatically find the data-type

In [69]:
db = sqlite3.connect(':memory:',detect_types=sqlite3.PARSE_DECLTYPES)

## Cursor 
* To write anything in database we need to create the cursor

In [70]:
cursor = db.cursor()

## Creating the database table
* SQL syntax:  CREATE TABLE <table_name> (columns,datatype)

In [71]:
cursor.execute("CREATE TABLE mydb (entry_date,entry_time,class_name)")

## Inserting the rows
* SQL syntax INSERT INTO <table_name> VALUES ( )

In [72]:
cursor.execute("INSERT INTO mydb VALUES ('2020-04-30','11:06:AM','car')")

## Commiting to save the values

In [73]:
db.commit()

## Fetching the value
* SQL syntax SELECT col_name FROM table_name 
* To fetch multiple rows use * instead of col_name
* To make conditional fetch we can use WHERE

In [74]:
cursor.execute("SELECT * FROM mydb")
cursor.fetchall()

[('2020-04-30', '11:06:AM', 'car')]

## Insert value through variable

In [75]:
var = ('2020-04-30','11:09:AM','car')
cursor.execute("INSERT INTO mydb VALUES (?,?,?)",var)

In [76]:
cursor.execute("SELECT * FROM mydb")
cursor.fetchall()

[('2020-04-30', '11:06:AM', 'car'), ('2020-04-30', '11:09:AM', 'car')]

## Insert multiple data at once

In [77]:
var = [('2020-04-30','11:11:AM','car'),('2020-04-30','11:12:AM','bus')]
cursor.executemany("INSERT INTO mydb VALUES (?,?,?)",var)

In [78]:
cursor.execute("SELECT * FROM mydb")
cursor.fetchall()

[('2020-04-30', '11:06:AM', 'car'),
 ('2020-04-30', '11:09:AM', 'car'),
 ('2020-04-30', '11:11:AM', 'car'),
 ('2020-04-30', '11:12:AM', 'bus')]

## Fetch data through variable

In [79]:
var = 'car'
cursor.execute("SELECT * FROM mydb WHERE class_name=?",(var,))
cursor.fetchall()

[('2020-04-30', '11:06:AM', 'car'),
 ('2020-04-30', '11:09:AM', 'car'),
 ('2020-04-30', '11:11:AM', 'car')]

In [80]:
cursor.execute("SELECT * FROM mydb WHERE class_name=:var",{"var":var})
cursor.fetchall()

[('2020-04-30', '11:06:AM', 'car'),
 ('2020-04-30', '11:09:AM', 'car'),
 ('2020-04-30', '11:11:AM', 'car')]

## Fetch one by one row

In [81]:
cursor.execute("SELECT * FROM mydb WHERE class_name=:var",{"var":var})
print(cursor.fetchone())
print(cursor.fetchone())
print(cursor.fetchone())

('2020-04-30', '11:06:AM', 'car')
('2020-04-30', '11:09:AM', 'car')
('2020-04-30', '11:11:AM', 'car')

## Rollback
* It will rollback all the records until the last commit

In [82]:
db.rollback()
cursor.execute("SELECT * FROM mydb WHERE class_name=?",(var,))
cursor.fetchall()
#Note we already had done commit earlier#

[('2020-04-30', '11:06:AM', 'car')]

## Other features 
* executescript() ---> to execute the whole SQL statements

## Date and Time

In [83]:
import datetime
now = datetime.datetime.now()
date,time = str(now).split(" ")

In [84]:
print(date)
print(time)

2020-04-30
12:09:23.209350

In [86]:
db = sqlite3.connect(":memory:",detect_types=sqlite3.PARSE_DECLTYPES|sqlite3.PARSE_COLNAMES)
cursor = db.cursor()
cursor.execute("CREATE TABLE mydb (date,time)")

In [87]:
cursor.execute("INSERT INTO mydb VALUES (?,?)",(date,time))

In [88]:
cursor.execute("SELECT * FROM mydb")
cursor.fetchall()

[('2020-04-30', '12:09:23.209350')]

# Keys in database

In [89]:
import sqlite3

con = sqlite3.connect(":memory:")
con.execute("create table person (id integer primary key, firstname varchar unique)")

In [91]:
# Successful, con.commit() is called automatically afterwards
with con:
    con.execute("insert into person(firstname) values (?)", ("Joe",))

# con.rollback() is called after the with block finishes with an exception, the
# exception is still raised and must be caught
try:
    with con:
        con.execute("insert into person(firstname) values (?)", ("Joe",))
except sqlite3.IntegrityError:
    print ("couldn't add Joe twice")

couldn't add Joe twice